@model List<Product>
<partial name="_Notification" />

<div class="row pt-4 pb-3">
    <div class="col-6">
        <h2 class="text-primary">Product List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Product" asp-action="Create" class=" btn btn-primary">
            Create new product
        </a>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>


        <tr>
            <th>
                Title

            </th>
            <th>
                Author
            </th>
            <th>
                ISBN
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Title</td>
                <td>@obj.Author</td>
                <td>@obj.ISBN</td>
                <td>@obj.Price</td>
                <td>@obj.</td>
                <td>@obj.</td>

                <td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class=" btn btn-primary">
                        <i class="bi bi-pencil-square"></i> EDIT
                    </a>
                </td>
                <td>
                    <a asp-controller="Category" asp-action="Remove" asp-route-id="@obj.Id" class=" btn btn-danger">
                        <i class="bi bi-trash"></i> DELETE
                    </a>
                </td>

            </tr>



        }
    </tbody>
</table>

